body {
    background-color: #ccd6da;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    font-size: 2vw;
}

#logo {
    margin: auto;
    padding: 8px;
    font-family: "Fredoka One", sans-serif ;
    box-shadow: 10px 5px 25px 5px rgb(108, 122, 130); 
    width: 41%;
    border-radius: 40%;
    justify-content: center;
}

ul {
    margin: 0px;
}

body > header {
    background-color: rgb(172, 198, 203);
    color:rgb(130, 126, 126);
}

nav{
    display: flex;
    justify-content: center;
    padding: 20px; 
}

#nav-ul {
    display: flex
}

#nav-ul > li {
    padding: 15px
}

body > header > nav > ul {
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: white
}

body > header > nav > ul > li > a {
    color: rgb(156, 144, 144);
    text-decoration: none;
}

body > main article {
    width: 70%;
    margin: auto;
}

#main-content {
    display: flex
}


form {
    text-align: center; 
}

h2 {
    text-align: center;
}

body > footer {
    background-color: rgb(152, 194, 216);
}

body > footer {
    background-color: azure;
    display: flex;
}

img {
    border-radius: 50%
}

#footer-ul{
    display: flex;
    list-style: none;
    color: rgb(130, 126, 126);
}